.device-online
    .title 今日设备在线统计
    .lines
        .line
            .icon
            .text 设备总数
            .bar-wrapper
                .bar(:style="{width: 100 + '%'}")
            .count 10000
        .line
            .icon
            .text 设备在线数
            .bar-wrapper
                .bar(:style="{width: 77 + '%'}")
            .count 7777
        .line
            .icon
            .text 设备离线数
            .bar-wrapper
                .bar(:style="{width: 33 + '%'}")
            .count 3333